<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
    <title>Simple e-shop website</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
</head>
<body>
<nav class="topnavbar navbar-fixed-top" id="topnav">
    <a class="pointer" data-toggle="modal" href="#cartModal">Cart</a>
    <a href="#">Shop</a>
</nav>


<div ng-app="app" ng-controller="productsCtrl">

    <table border="1" width="60%" style="margin:0 auto;">
        <tr>
            <th></th>
            <th class="pointer" ng-click="orderByFun('name')">Name
                <span class="sortAscDesc" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="pointer" ng-click="orderByFun('store')">Store
                <span class="sortAscDesc" ng-show="propertyName === 'store'" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="pointer" ng-click="orderByFun('instock')">In stock
                <span class="sortAscDesc" ng-show="propertyName === 'instock'" ng-class="{reverse: reverse}"></span>
            </th>
        </tr>
        <tr ng-repeat="p in products | orderBy:propertyName:reverse">
            <td style="text-align: center;">{{ $index + 1 }}</td>
            <td><a data-toggle="modal" href="#productModal" ng-click="requestProductInfo(p.id)">{{p.name}}</a></td>
            <td>{{p.store}}</td>
            <td>{{p.instock}}</td>
        </tr>
    </table>

    <div>

        <!--Product modal -->
        <div class="modal fade" id="productModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Product details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body clearfix">
                        <h2>{{productInfo.name}}</h2><br>
                        <span class="float-left" style="width:40%;">
                        <strong>Product-code:</strong> {{productInfo.productcode}}<br><br>
                        <strong>In stock:</strong> {{productInfo.instock}}<br><br>
                        <strong>Store:</strong> {{productInfo.store}} <br><br>
                        <strong>Department:</strong> {{productInfo.department}} <br><br>
                        <strong>Description:</strong> {{productInfo.description}} <br><br>
                        </span>
                        <span class="float-right">
                        <img alt="Picture of {{productInfo.name}}" ng-src="{{productInfo.image}}">
                        </span>
                    </div>
                    <div class="modal-footer">
                        <span class="float-left price mr-auto">Price: {{productInfo.price}} {{productInfo.currency}}</span>
                        <span class="float-right"><button type="button" class="btn btn-success" ng-click="addToCart(productInfo);" ng-bind="'Add to cart (' + countInCart(productInfo.id, cart) + ')'"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></span>
                    </div>
                </div>

            </div>
        </div>

        <!--Cart modal -->
        <div class="modal fade" id="cartModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cart</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <table class="table" width="100%">
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat = "c in cart">
                                <td>{{c.name}}</td>
                                <td>{{c.count}}</td>
                                <td>{{c.price}} {{c.currency}}</td>
                                <td>{{c.price*c.count}} {{c.currency}}</td>
                                <td><input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="X"></td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <span style="font-size: 22px; padding-right: 15px;">Total: {{total}} EUR </span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <footer>
        <div></div>
    </footer>

</div>

<script src="js/functions.js"></script>
</body>
</html>